    <div class= "jumbotron center">
    <body>
        <h1>Welcome to sample APP</h1>
        <h2>This is the home page for
            <a href="https://www.tutorialspoint.com/ruby-on-rails/">ruby on rails tutorial</a>
            sample application
        </h2>
        <li><%= link_to "Sign Up now", newuser_path , {class: "btn btn-lg btn-primary"} %></li>
    </body>
    </div>